<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mikrotik Panel</title>
</head>
<body>

    <h1>Mikrotik Configuration Panel</h1>

    <nav>
        <ul>
            <li><a href="{% url 'configdev:add_dell' %}">Manage Mikrotik</a></li>
            <li><a href="{% url 'configdev:config_mikrotick' %}">Config Mikrotik</a></li>
            <li><a href="{% url 'configdev:check' %}">Check Mikrotik</a></li>
        </ul>
    </nav>

</body>
</html>
