<header>
    <h1>Mikrotik Configuration Panel</h1>

    <nav>
        <ul style="list-style: none; padding: 0; margin: 0;">
            <li style="display: inline; margin-right: 20px;">
                <a href="{% url 'configdev:add_dell' %}">Manage Mikrotik</a>
            </li>

            <li style="display: inline; margin-right: 20px;">
                <a href="{% url 'configdev:config_mikrotick' %}">Config Mikrotik</a>
            </li>

            <li style="display: inline; margin-right: 20px;">
                <a href="{% url 'configdev:check' %}">Check Mikrotik</a>
            </li>

            <li style="display: inline; margin-right: 20px;">
                <a href="{% url 'configdev:logs' %}">View Logs</a>
            </li>
        </ul>
    </nav>

    <hr>
</header>
